# Server configuration
PORT=4000
NODE_ENV=development

# Database Connection (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres_password@postgres:5432/tasqflow?schema=public"

# Redis Cache Connection
REDIS_URL="redis://redis:6379"

# Security Secrets
JWT_SECRET="YOUR_SUPER_SECURE_JWT_SECRET_KEY_HERE"
JWT_EXPIRE="24h"
